<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.bisk.com/css/main.css">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	    <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
      <div class="container-fluid" id="app">
        <div class="row height-100">
          <div class="col-lg-1 col-md-1 d-none d-md-block"></div>
          <div class="col-lg-10 col-md-10">
            <nav class="navbar navbar-expand-md navbar-light height-100 top-nav">
              <a class="navbar-brand d-flex align-items-center brand-link" href="#" >
                <img src="resources/logo-icon.png" width="30" height="30" class="d-inline-block align-top brand-image" alt="">
                <span class="brand-title">
                  &nbsp;&nbsp;<strong>Startup</strong>
                </span>
              </a>
              <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
                <ul class="navbar-nav landing-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">WORK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                  </li>
                </ul>
                <button class="btn btn-success btn-sm white-text btn-signin">
                  SIGN IN
                </button>
              </div>
            </nav>
          </div>
        </div>

        <div class="row height-500 bg-hero">
          <div class="content col-md-12 col-lg-12 d-flex align-items-center">
            <div class="col-lg-1 col-md-1 d-none d-md-block"></div>
            <div class="col-lg-7 col-md-7 white-text mt-4">
              <p class="header light-text mt-5">
                <strong>We've created the product that will help your startup to look even better.</strong>
              </p>
              <p class="mt-4 subheader light-text">
                You have the design, you have the code
              </p>
            </div>
          </div>
        </div>
        <div class="row height-500 d-flex align-items-center border-bottom">
          <div class="col-lg-1 col-md-1 d-none d-md-block"></div>
          <div class="col-lg-5 col-md-5">
               <h3 class="dark-grey-text">We've created the product that will help your startup to look better.</h3>
               <p class="mid-grey-text light-text">
                 Startup Design Framework contains components and complex blocks which can easily be integrated into almost any design. Responsive layout, clear grid, retina ready.
               </p>
          </div>
        </div>
        <div class="row height-370">
          <div class="col-lg-1 col-md-1 d-none d-md-block"></div>
          <div class="col-lg-3 col-md-3 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  High Resolution
                </p>
                <p class="card-text mid-grey-text light-text">
                  We did a 2.5K size high resolution photo that will suit even for a very large site.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  Easy to use
                </p>
                <p class="card-text mid-grey-text light-text">
                  To get started, you select the desired sample and base the entire website on it. It's that simple!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  Feel our design
                </p>
                <p class="card-text mid-grey-text light-text">
                  Samples will show you the feeling on how to play around using the components.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row height-145 bg-grey">

        </div>
        <div class="row height-500 bg-grey">
          <div class="col-lg-5 col-md-5 bg-product"></div>
          <div class="col-lg-1 col-md-1 d-none d-md-block"></div>
          <div class="col-lg-5 col-md-5 d-flex align-items-center">
            <i class="fas fa-desktop fa-3x"></i>
            <i class="fas fa-trophy fa-3x"></i>
            <i class="far fa-user-circle fa-3x"></i>
            <button class="btn btn-success-outline" data-toggle="modal" href="#modal_cta">Try It Now</button>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-lg-1 col-md-1 d-none d-md-block"></div>
          <div class="col-lg-2 col-md-2 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  Startup
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  About
                </p>
                <ul class="card-text mid-grey-text light-text list-unstyled">
                  <li class="list-item">
                    <a href="#">About Us</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Blog</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Team</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Career</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  Work
                </p>
                <ul class="card-text mid-grey-text light-text list-unstyled">
                  <li class="list-item">
                    <a href="#">Our Portfolio</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Latest Work</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Brands</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  Stuff
                </p>
                <ul class="card-text mid-grey-text light-text list-unstyled">
                  <li class="list-item">
                    <a href="#">Privacy</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Terms</a>
                  </li>
                  <li class="list-item">
                    <a href="#">Advertise</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 push-down-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title dark-grey-text">
                  Subscribe
                </p>
                <p class="card-text mid-grey-text light-text">
                  <form>
                    <div class="form-row align-items-center">
                      <div class="input-group">
                        <input class="form-control" placeholder="Email">
                        <div class="input-group-addon btn-subscribe" ><i class="fa fa-angle-right"></i></div>
                      </div>
                    </div>
                  </form>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="modal_cta">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <header class="modal-header">
                <h3>Try It Now</h3>
                <button class="close" data-dismiss="modal">&times;</button>
              </header>
              <div class="modal-body">
                <div class="form-group">
                  <label for="cta_name">
                    Name
                    <span v-if="invalid_name === true">
                      <i class="fas fa-times-circle"></i>
                    </span>
                    <span v-if="invalid_name === false">
                      <i class="fas fa-check-circle"></i>
                    </span>
                  </label>
                  <input type="text" id="cta_name" class="form-control" aria-describedby="nameHelp" :class="[invalid_name ? 'invalid-input' : '']" placeholder="Enter name" v-model="name">
                </div>
                <div class="form-group">
                  <label for="cta_email">
                    Email address
                    <span v-show="invalid_email === true">
                      <i class="fas fa-times-circle"></i>
                    </span>
                    <span v-show="invalid_email === false">
                      <i class="fas fa-check-circle"></i>
                    </span>
                  </label>
                  <input type="email" id="cta_email" class="form-control" aria-describedby="emailHelp" :class="[invalid_email ? 'invalid-input' : '']" placeholder="Enter email" v-model="email">
                </div>
                <div class="form-group">
                  <label for="cta_phone">
                    Phone Number
                    <span v-show="invalid_phone === true">
                      <i class="fas fa-times-circle"></i>
                    </span>
                    <span v-show="invalid_phone === false">
                      <i class="fas fa-check-circle"></i>
                    </span>
                  </label>
                  <input type="tel" id="cta_phone" class="form-control" aria-describedby="phoneHelp" :class="[invalid_phone ? 'invalid-input' : '']" placeholder="Enter phone number" v-model="phone">
                </div>
              <footer class="modal-footer">
                <button class="btn btn-success" :class="[invalid_form ? 'disabled' : '']" data-dismiss="modal">
                  Submit
                </button>
              <footer>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
      <script src="js/index.js"></script>
    </body>
</html>
