 * {
   list-style-type: none;
 }

.jumbotron h1 {
  color: white !important;
  font-size: 2em;
}

section {
  padding: 20px 0;
  width: 100%;
}

.row {
  margin: 30px -15px;
  padding: 20px 0;
}

p {
  font-size: 1.1em
}

.darkgray {
  background-color: rgb(42,62,79);
  color: white;
}

.btn-default {
    color: rgb(0, 178, 113);
    background-color: transparent;
    border-color: rgb(0, 178, 113);
}
